<app-header></app-header>
<div class="container outer outer-background">
  
    <button class="btn btn-dark action-buttons" (click) = "modal.show()" >Add User</button>
  <div class="row inner-first" > 
   <div class="search-filter">
      <div class="col top-30" >
            <label class="filter-label">Filter : </label>
              <a class="marg-left-20">
                <i class="fas fa-search fa-2x" ></i>
                <input class="input--style-3 input-style2"  type="text" placeholder="Search" [(ngModel)]="searchText">
              </a>
    </div>
    </div>
      <div class="col-md-3 min-width-45" *ngFor="let userr of users.value | searchusers: searchText">
          <app-user [user]="userr" ></app-user>
      </div>
      <div class="col-md-3 min-width-45 left-30" *ngIf="(users.value | searchusers: searchText).length === 0">
        <h1>No Users Found</h1>
    </div>
  </div>
</div>
<app-modal #modal class="pos-absolute">
  <div class="app-modal-header align-centre-text full-width" >
    <h6>Add User </h6>
  </div>
  <div class="app-modal-body" >
    <p>Are you sure you want to delete the record for: <b class="font-design">{{student.firstName + " " + student.lastName}}</b> </p>
  </div>
  <div class="app-modal-footer full-width" >
    <button type="button" class="btn btn-dark left-margin" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-dark left-margin" (click)="deleteClicked(student.id, modal);modal.hide()">Add</button>
  </div>
</app-modal>